[features]
seeds = true
skip-lint = false

[programs.localnet]
signia_registry = "Signia1111111111111111111111111111111111111"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn test"
